

.page{
  height: 100vh;
  width: 100%;
  display: flex;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
    border: 2px solid black;

  
  
}

/* 
.boxes{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
} */