*{
  margin: 0;
  padding: 0;
}
#book{
  height: 300px;
  width: 600px;
 
  display: flex;
  background-color: antiquewhite;

}

.card{
   height: 300px ;
   width:400px ;
   border: 1px solid gainsboro;
   font-size: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  

}

.card h1{
  font-size: 20px;
}

.nav{
  height: 100px;
  width: 100%;
  background-color: rgb(226, 172, 102);
  display: flex; 
  justify-content: center;
  align-items: center;
  
}